.DS_Store
*.o
*.out
*.a
b.*
*.aux
*.log
*.gz
*.toc
/examples/output/
/Original/examples/output

examples/output/A_serial.txt
examples/main-serial
examples/main-parallel
Original/examples/main-parallel
Original/examples/main-serial
